
{{ time-series-chart
  barData=timeSeriesBarContent
  lineData=timeSeriesLineContent
  selectedInterval='H'
}}

{{!-- <div class="form-horizontal">
  <div class="form-group">
    <label class="col-lg-4 control-label">Set hour</label>
    <div class="col-lg-8">
      {{view App.ScrubberComponent min="0" max="24" step="1" valueBinding="xPosition"}}
      <span class="help-block">Current hour: {{xPosition}}</span>
    </div>
  </div>
</div> --}}