html, body {

}

.chart-container {
  margin-top: 100px;
  margin-left: 100px;
  background-color: white;
  height: 570px;
  width: 610px;
  z-index: 10;

}

.map-canvas {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  height: 800px;
  width: 100%;
}

.zoom {
  padding-right: 50px;
  zoom: 60%;
}

.no-zoom {
  zoom: 167%;
}

svg * {
    stroke:black;
}
rect {
    fill:red;
}
circle {
    fill:blue;
}
