{{!-- {{outlet}} --}}
{{ city-map lat=lat lng=lng markers=markers }}

<div class='col-md-6'>
  {{ traffic-chart dayContent=dayContent weekContent=weekContent dayChart=dayChart changeChart='changeChart'}}
</div>
