{{ city-map lat=lat
            lng=lng
            markers=markers
            polylines=polylines
            renderMap=renderMap
            day=day
            zoom=zoom
}}

<div class='col-md-6'>
  {{ traffic-chart weekContent=weekContent
                   names=names
                   currentCity=currentCity
                   xPosition=xPosition
                   day=day
                   changeCity='changeCity'
                   setDay='setDay'
  }}
</div>