
<h3>Welcome to Traffic Watch</h3>

<p> This tool enables you to get data about traffic density over time in main cities in Poland</p>


{{ outlet }}

<h3>Warsaw traffic</h3>

<div class='col-md-6'>
  {{ city-map }}
</div>

<div class='col-md-6'>
  {{ traffic-chart }}
  {{ d3-slider }}
</div>

