{{outlet}}

<div class='visible-xs'>
{{!-- bootstrap is off --}}


  <h3>WARSAW TRAFFIC</h3>
  <div class="chart-container">

    {{time-series-chart
      barData=timeSeriesBarContent
      lineData=timeSeriesLineContent
      badData=daily_curr_value
      selectedInterval='H'
    }}
  </div>

{{city-map}}

</div>